In [58]:
import pandas as pd

In [113]:
import MySQLdb as db
from pandas import DataFrame
#from pandas.io.sql import frame_query

database = db.connect('xxxxxxxx','cen_survey','survey@0215','engage_v1')
#data     = frame_query("SELECT * FROM ass_v1_360_invite_response", database)

In [114]:
database.autocommit=False

In [115]:
database.autocommit

False

In [116]:
royal = pd.read_sql_query(sql="""SELECT survey_v1_question.QUESTION_TEXT,
       survey_v1_option.OPT_TEXT,
       survey_v1_option.OPT_VALUE,
       `survey_v1_user_response_store`.FIELD_VALUE,
       `survey_v1_user_response_store`.COMMENT,
       survey_v1_user_servey_def.SURVEY_DEF_ID
  FROM ttn_central_v1.survey_v1_user_response_store
       JOIN survey_v1_question
          ON survey_v1_question.QUESTION_ID =
                survey_v1_user_response_store.QUESTION_ID
       JOIN survey_v1_user_servey_def
          ON survey_v1_user_servey_def.USD_ID =
                survey_v1_user_response_store.USER_SURVEY_DEF_ID
       LEFT OUTER JOIN survey_v1_option
          ON survey_v1_option.OPT_ID =
                survey_v1_user_response_store.OPTION_ID
 WHERE survey_v1_user_servey_def.SURVEY_DEF_ID BETWEEN 203 AND 220
ORDER BY survey_v1_user_servey_def.SURVEY_DEF_ID;""",con=database)

In [117]:
survey = pd.read_sql_query(sql="""SELECT SD_ID,
       SURVEY_TEMPLATE_TITLE,
       DESCRIPTION,
       AUTO_REMINDER_PATTERN,
       START_DATE,
       END_DATE,
       EMAIL_INVITATION_TEMPLATE,
       IS_PUBLIC,
       SURVEY_THEME,
       AUTO_REMINDER_SENT_LAST_DATE,
       LOGO,
       GEN_DATE,
       STATUS,
       PTM_ID,
       PS_ID,
       TYPE_ID,
       TARGET_COMPLETE_DURATION
  FROM ttn_central_v1.survey_v1_defination
 WHERE SD_ID BETWEEN 203 AND 220;""",con=database)

In [118]:
database.close()

In [119]:
database.close()

ProgrammingError: closing a closed connection

In [120]:
royal.head()

,QUESTION_TEXT,OPT_TEXT,OPT_VALUE,FIELD_VALUE,COMMENT,SURVEY_DEF_ID
0,<p>Our team members have adequate knowledge on...,Somewhat agree,3,None,,203
1,<p>In the face of difficulty our team members ...,Completely disagree,1,None,,203
2,<p>Our team members deal conflict management c...,Completely disagree,1,None,,203
3,<p>Our team members share their expertise and ...,Somewhat disagree,2,None,,203
4,<p>Communication between our team members are ...,Completely disagree,1,None,,203

In [123]:
royal.columns

Index([u'QUESTION_TEXT', u'OPT_TEXT', u'OPT_VALUE', u'FIELD_VALUE', u'COMMENT',
       u'SURVEY_DEF_ID'],
      dtype='object')

In [139]:
survey.head()

,SD_ID,SURVEY_TEMPLATE_TITLE,DESCRIPTION,AUTO_REMINDER_PATTERN,START_DATE,END_DATE,EMAIL_INVITATION_TEMPLATE,IS_PUBLIC,SURVEY_THEME,AUTO_REMINDER_SENT_LAST_DATE,LOGO,GEN_DATE,STATUS,PTM_ID,PS_ID,TYPE_ID,TARGET_COMPLETE_DURATION
0,203,Rajeev Sharma,"<p style=""text-align:justify"">Dear Participant...",0,2016-10-05,2016-10-10 23:59:59,,0,THEME-2,None,None,2016-10-04 15:01:03,Y,18,63,1,None
1,204,Arul Prabu,"<p style=""text-align:justify"">Dear Participant...",0,2016-10-05,2016-10-08 23:59:59,,0,THEME-2,None,None,2016-10-04 15:04:32,Y,18,63,1,None
2,205,Meenakshi,"<p style=""text-align:justify"">Dear Participant...",0,2016-10-05,2016-10-11 23:59:59,,0,THEME-2,None,None,2016-10-04 15:06:58,Y,18,63,1,None
3,206,Piyush Arya,"<p style=""text-align:justify"">Dear Participant...",0,2016-10-05,2016-10-10 23:59:59,,0,THEME-2,None,None,2016-10-04 15:08:55,Y,18,63,1,None
4,207,Parul Sharma,"<p style=""text-align:justify"">Dear Participant...",0,2016-10-05,2016-10-10 23:59:59,,0,THEME-2,None,None,2016-10-04 15:09:42,Y,18,63,1,None

In [135]:
#royal.drop(['SURVEY_DEF_ID'],axis=1,inplace=True)

In [136]:
user_203 = royal[royal.SURVEY_DEF_ID == 203]

In [137]:
user_203.drop(['SURVEY_DEF_ID'],axis=1,inplace=True)

c:\python27\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [140]:
user_203

,QUESTION_TEXT,OPT_TEXT,OPT_VALUE,FIELD_VALUE,COMMENT
0,<p>Our team members have adequate knowledge on...,Somewhat agree,3,None,
1,<p>In the face of difficulty our team members ...,Completely disagree,1,None,
2,<p>Our team members deal conflict management c...,Completely disagree,1,None,
3,<p>Our team members share their expertise and ...,Somewhat disagree,2,None,
4,<p>Communication between our team members are ...,Completely disagree,1,None,
5,<p>There is excellent teamwork in the team</p>,Completely disagree,1,None,
6,<p>HR team at Royal Enfield has a meaningful a...,Somewhat agree,3,None,
7,<p>When conflict arises team members discuss i...,Somewhat disagree,2,None,
8,<p>Team members are strongly committed to a sh...,Somewhat agree,3,None,
9,<p>Which of the following element you wish to ...,None,None,Collaboration \r\nCommitment to Collective Goals,
10,<p>Which of the following element is your core...,None,None,Commitment to Collective Goals\r\nCollaboration,

In [141]:
name = survey[survey.SD_ID==203].SURVEY_TEMPLATE_TITLE.asobject[0]

In [142]:
print name

Rajeev Sharma

In [143]:
user_203.to_excel("C:/Users/BNSPL-2/Documents/jupyter/survey_report/"+name+"-report.xlsx",sheet_name='203')

In [146]:
for itr_user in range(203,221):
    print itr_user

203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220

In [149]:
for itr_user in range(203,221):
    print itr_user
    user_itr = royal[royal.SURVEY_DEF_ID == itr_user]
    user_itr.drop(['SURVEY_DEF_ID'],axis=1,inplace=True)
    user_itr_name = survey[survey.SD_ID==itr_user].SURVEY_TEMPLATE_TITLE.asobject[0]
    user_itr.to_excel("C:/Users/BNSPL-2/Documents/jupyter/survey_report/"+user_itr_name+"-report.xlsx",sheet_name='Response Report')

203
204
205
206

c:\python27\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

207
208
209
210
211
212
213
214
215
216
217
218
219
220