In [28]:
import pandas as pd
import MySQLdb
import nltk
from nltk.stem.snowball import SnowballStemmer
import numpy as np
import jsonify

In [27]:
db = MySQLdb.connect("69.89.14.35","360feedback","360feedback@","ttn_central_v1" )
db.autocommit=False

In [3]:
df = pd.read_sql_query(sql="""SELECT 
    360_v1_respondent_feedback.*
FROM
    ttn_central_v1.360_v1_respondent_feedback
        JOIN
    360_v1_respondent_fs_rel_mapper ON 360_v1_respondent_fs_rel_mapper.RFRM_ID = 360_v1_respondent_feedback.RFRM_ID
WHERE
    360_v1_respondent_feedback.SSUBM_ID IS NOT NULL
        AND 360_v1_respondent_fs_rel_mapper.PROJ_ID = 525;""",con=db)

In [4]:
df.head()

,RF_ID,CSM_ID,RATE,SSUBM_ID,SUBJECTIVE,RFRM_ID
0,188889,None,0,77,Deliver the promise\r\nTeamwork and realtionship,6343
1,188890,None,0,78,Entrepreneurship\r\nsocial responsibility,6343
2,167598,None,0,77,Learning & Deliver the promise: \r\nMr. Sharma...,6345
3,167599,None,0,78,Respect for the Individual & Teamwork and Rela...,6345
4,172862,None,0,77,1. Learning- Learn from all level irrespective...,6346

In [5]:
df = df[df.SUBJECTIVE not in [""]]

In [6]:
df.head()

,RF_ID,CSM_ID,RATE,SSUBM_ID,SUBJECTIVE,RFRM_ID
0,188889,None,0,77,Deliver the promise\r\nTeamwork and realtionship,6343
1,188890,None,0,78,Entrepreneurship\r\nsocial responsibility,6343
2,167598,None,0,77,Learning & Deliver the promise: \r\nMr. Sharma...,6345
3,167599,None,0,78,Respect for the Individual & Teamwork and Rela...,6345
4,172862,None,0,77,1. Learning- Learn from all level irrespective...,6346

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer()
df['tokens']=df.SUBJECTIVE.apply(lambda x: nltk.wordpunct_tokenize(x))
df.tokens.head()

0    [Deliver, the, promise, Teamwork, and, realtio...
1           [Entrepreneurship, social, responsibility]
2    [Learning, &, Deliver, the, promise, :, Mr, .,...
3    [Respect, for, the, Individual, &, Teamwork, a...
4    [1, ., Learning, -, Learn, from, all, level, i...
Name: tokens, dtype: object

In [8]:
stemmer = SnowballStemmer("english")
df['stemmed'] = df.tokens.map(lambda x: " ".join([stemmer.stem(y) for y in x if y.isalpha()]))
df['stemmedarr'] = df.tokens.map(lambda x: [stemmer.stem(y) for y in x if y.isalpha()])
df.head()

,RF_ID,CSM_ID,RATE,SSUBM_ID,SUBJECTIVE,RFRM_ID,tokens,stemmed,stemmedarr
0,188889,None,0,77,Deliver the promise\r\nTeamwork and realtionship,6343,"[Deliver, the, promise, Teamwork, and, realtio...",deliv the promis teamwork and realtionship,"[deliv, the, promis, teamwork, and, realtionship]"
1,188890,None,0,78,Entrepreneurship\r\nsocial responsibility,6343,"[Entrepreneurship, social, responsibility]",entrepreneurship social respons,"[entrepreneurship, social, respons]"
2,167598,None,0,77,Learning & Deliver the promise: \r\nMr. Sharma...,6345,"[Learning, &, Deliver, the, promise, :, Mr, .,...",learn deliv the promis mr sharma is a fast lea...,"[learn, deliv, the, promis, mr, sharma, is, a,..."
3,167599,None,0,78,Respect for the Individual & Teamwork and Rela...,6345,"[Respect, for, the, Individual, &, Teamwork, a...",respect for the individu teamwork and relation...,"[respect, for, the, individu, teamwork, and, r..."
4,172862,None,0,77,1. Learning- Learn from all level irrespective...,6346,"[1, ., Learning, -, Learn, from, all, level, i...",learn learn from all level irrespect of hierar...,"[learn, learn, from, all, level, irrespect, of..."

In [9]:
# Starting with the CountVectorizer/TfidfTransformer approach...
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
 
cvec = CountVectorizer(stop_words='english', min_df=1, max_df=.5, ngram_range=(1,2))
cvec

CountVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=0.5, max_features=None, min_df=1,
        ngram_range=(1, 2), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [10]:
# Calculate all the n-grams found in all documents
from itertools import islice
cvec.fit(df.stemmed)
list(islice(cvec.vocabulary_.items(), 20))

[(u'individu bias', 55),
 (u'execut', 38),
 (u'social local', 121),
 (u'focus', 41),
 (u'inculc cost', 53),
 (u'bias maintain', 7),
 (u'collabor', 10),
 (u'collabor way', 11),
 (u'good exampl', 44),
 (u'hierarchi', 48),
 (u'high learn', 51),
 (u'superior', 125),
 (u'teamwork relationship', 135),
 (u'fast learner', 40),
 (u'learn deliv', 63),
 (u'activ', 0),
 (u'work execut', 148),
 (u'local', 71),
 (u'risk dure', 106),
 (u'good', 43)]

In [11]:
# Check how many total n-grams we have
ngramrange=len(cvec.vocabulary_)

In [12]:
# Check how many total n-grams we have
len(cvec.vocabulary_)

149

In [13]:
cvec_counts = cvec.transform(df.stemmed)
print 'sparse matrix shape:', cvec_counts.shape
print 'nonzero count:', cvec_counts.nnz
print 'sparsity: %.2f%%' % (100.0 * cvec_counts.nnz / (cvec_counts.shape[0] * cvec_counts.shape[1]))

sparse matrix shape: (10, 149)
nonzero count: 181
sparsity: 12.15%

In [14]:
occ = np.asarray(cvec_counts.sum(axis=0)).ravel().tolist()
counts_df = pd.DataFrame({'term': cvec.get_feature_names(), 'occurrences': occ})
counts_df.sort_values(by='occurrences', ascending=False).head(20)

     occurrences                   term
100            5                respect
54             4               individu
128            4                   team
88             4                 promis
29             4       entrepreneurship
62             4                  learn
133            4               teamwork
101            4       respect individu
120            3                 social
96             3           relationship
21             3                  deliv
22             3           deliv promis
122            2         social respons
103            2                respons
113            2                 sharma
25             2               demonstr
43             2                   good
79             2                     mr
80             2              mr sharma
135            2  teamwork relationship

In [15]:
transformer = TfidfTransformer()
transformed_weights = transformer.fit_transform(cvec_counts)
transformed_weights

<10x149 sparse matrix of type '<type 'numpy.float64'>'
	with 181 stored elements in Compressed Sparse Row format>

In [16]:
weights = np.asarray(transformed_weights.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': cvec.get_feature_names(), 'weight': weights})
weights_df.sort_values(by='weight', ascending=False).head(20)

                        term    weight
88                    promis  0.096396
100                  respect  0.086376
29          entrepreneurship  0.083801
120                   social  0.078533
54                  individu  0.073456
101         respect individu  0.073456
22              deliv promis  0.072947
21                     deliv  0.072947
133                 teamwork  0.065005
122           social respons  0.062868
103                  respons  0.062868
62                     learn  0.061724
128                     team  0.055034
32   entrepreneurship social  0.053950
96              relationship  0.046727
23                  deliveri  0.043800
24           deliveri promis  0.043800
91            promis respect  0.043800
134    teamwork realtionship  0.042892
95              realtionship  0.042892

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
tvec = TfidfVectorizer(min_df=.0025, max_df=.1, stop_words='english')
tvec_weights = tvec.fit_transform(df.stemmed.dropna())
weights = np.asarray(tvec_weights.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': tvec.get_feature_names(), 'weight': weights})
weights_df.sort_values(by='weight', ascending=False).head(10)

            term    weight
35  realtionship  0.100000
12      deliveri  0.100000
31          need  0.060302
44       support  0.050000
30         manag  0.050000
29      maintain  0.050000
27         local  0.050000
17          fast  0.050000
42     stakehold  0.050000
43      superior  0.050000

In [18]:
weights_df.size

100

In [19]:
top_weight=weights_df.sort_values(by='weight', ascending=False).head(50)
top_weight.head(5)

            term    weight
35  realtionship  0.100000
12      deliveri  0.100000
31          need  0.060302
44       support  0.050000
30         manag  0.050000

In [20]:
df["close"]=df.stemmedarr.map(lambda x: len([y for y in x if y in top_weight.term.values]))

In [21]:
df.sort_values(by="close",ascending=False).head()

,RF_ID,CSM_ID,RATE,SSUBM_ID,SUBJECTIVE,RFRM_ID,tokens,stemmed,stemmedarr,close
6,168679,None,0,77,He has very high learning grasp and seen in va...,6347,"[He, has, very, high, learning, grasp, and, se...",he has veri high learn grasp and seen in vario...,"[he, has, veri, high, learn, grasp, and, seen,...",10
8,202921,None,0,77,Teamwork and Relationships - Excellent rapport...,6349,"[Teamwork, and, Relationships, -, Excellent, r...",teamwork and relationship excel rapport with u...,"[teamwork, and, relationship, excel, rapport, ...",10
9,202922,None,0,78,Entrepreneurship - Needs to inculcate cost con...,6349,"[Entrepreneurship, -, Needs, to, inculcate, co...",entrepreneurship need to inculc cost conscious...,"[entrepreneurship, need, to, inculc, cost, con...",9
4,172862,None,0,77,1. Learning- Learn from all level irrespective...,6346,"[1, ., Learning, -, Learn, from, all, level, i...",learn learn from all level irrespect of hierar...,"[learn, learn, from, all, level, irrespect, of...",8
2,167598,None,0,77,Learning & Deliver the promise: \r\nMr. Sharma...,6345,"[Learning, &, Deliver, the, promise, :, Mr, .,...",learn deliv the promis mr sharma is a fast lea...,"[learn, deliv, the, promis, mr, sharma, is, a,...",4

In [30]:
[y for y in df.SUBJECTIVE.values]

['Deliver the promise\r\nTeamwork and realtionship',
 'Entrepreneurship\r\nsocial responsibility',
 'Learning & Deliver the promise: \r\nMr. Sharma is a fast learner manager, he can also deliver the promise if any.',
 'Respect for the Individual & Teamwork and Relationship: \r\nMr. Sharma can demonstrate these values to respect to the individual without biasness and he should maintain good relationship with his all colleagues.',
 '1. Learning- Learn from all level irrespective of hierarchy and age etc. 2. Entrepreneurship- take calculated risk during work execution.',
 '1. Delivery of Promise 2. Respect for individual',
 'He has very high learning grasp and seen in various situations. \r\nHe has worked in a collaborative way with team and shown good example of teamwork.',
 'He should be more social to local stakeholders and take entrepreneurship with the support of superiors.',
 'Teamwork and Relationships - Excellent rapport with UK team and also Delhi team\r\nRespect for Individual - is loved and respected by peers, juniors and seniors for overall attitude demonstrated towards all.',
 'Entrepreneurship - Needs to inculcate cost consciousness amongst self and team\r\nSocial Responsibility - Needs to focus more on CSR activities']